{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "prettier"
    ],
    "rules": {
        "import/prefer-default-export":[0, {}],
        "react/sort-comp": [0, {}],
        "no-underscore-dangle": [0, {}],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 100,
                "tabWidth": 2
            }
        ]
    },
    "plugins": [
        "prettier",
        "react"
    ]
}